<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>列表页</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jQuery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <style type="text/css">
        .page{  float: right;  }
        .page a,.page span{  display: inline-block;  background: yellowgreen;  margin-left: 5px;  width: 24px;  height: 24px;  text-align: center;  line-height: 24px;  font-weight: bolder;  }
        .page span{background: #ececec;}
        .page a:hover{  background: #ececec;  }
    </style>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
            $(".select2").uedSelect({
                width : 167
            });
            $(".select3").uedSelect({
                width : 100
            });
        });
    </script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>
<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab2" class="tabson">
            <form action="{:U('Admin/Goods/recycle')}" method="get">
                <ul class="seachform">
                    <li><label>综合查询</label><input name="keywords" value="{$keywords}" type="text" class="scinput" /></li>
                    <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
                </ul>
            </form>
            <table class="tablelist">
                <thead>
                <tr>
                    <th><input name="" type="checkbox" value="" checked="checked"/></th>
                    <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品分类</th>
                    <th>商品品牌</th>
                    <th>市场价格</th>
                    <th>商城价格</th>
                    <th>库存量</th>
                    <th>销售数量</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="val" key="k" empty="$empty">
                    <tr>
                        <td><input name="" type="checkbox" value="" /></td>
                        <td>{$k+$firstRow}</td>
                        <td><img src="__PUBLIC__/Admin/Uploads/goods/{$val['pic']}" style="width:50px;height: 50px;"> </td>
                        <td>{$val.goodsname}</td>
                        <td>{$val.catename}</td>
                        <td>{$val.bname}</td>
                        <td>{$val.marketprice}</td>
                        <td>{$val.price}</td>
                        <td>{$val.num}</td>
                        <td>{$val.salenum}</td>
                        <td>{:date('Y-m-d H:i:s',$val['addtime'])}</td>
                        <td><a href="javascript:regain({$val['id']})" class="tablelink">恢复</a>
                            <a href="javascript:del({$val['id']})" class="tablelink">删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pagin">
                <div class="message" style="display: block;width: 300px;height: 30px;float: left;font-size: 14px;font-weight: bolder">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">
                    <if condition="$p eq 0 ">
                        1
                        <else />
                        {$p}
                    </if>
                </i>页</div>
                <div class="page" style="display: block;float: right;">
                    {$page}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>
</body>
<script>
    function regain(gid){
        layer.confirm("是否要恢复数据",{icon:3,title:'恢复'},function(){
            $.get("{:U('Goods/regain')}",'id='+gid,function(res){
                if(res.status=='ok'){
                    layer.msg(res.msg,{icon:6,time:1000},function(){
                        window.location.href="{:U('Goods/recycle')}";
                    })
                }else{
                    layer.msg(res.msg,{icon:5,time:1000});
                }
            },'json')
        })
    }
    function del(gid){
        layer.confirm('确定彻底删除',{icon:6,title:'删除'},function(){
            $.get("{:U('Goods/del')}","id="+gid,function(res){
                if(res.status=='ok'){
                    layer.msg(res.msg,{icon:1,time:1000},function(){})
                    window.location.href="{:U('Goods/recycle')}";
                }else{
                    layer.msg(res.msg,{icon:2,time:1000})
                }
            },'json')
        })
    }
</script>
</html>
