<layout name="Public/layout"/>

<div class="limit_style" id="">
    <div id="slideBox" class="slideBox">
        <div class="hd">
            <ul class="smallUl"></ul>
        </div>
        <!--广告段位-->
        <div class="bd">
            <ul>
                <volist name="ads" id="val">
                <li><a href="{:U('Integral/ads')}" target="_blank">
                    <div style="background:url(__PUBLIC__/Admin/Uploads/ads/{$val['adlogo']}) no-repeat rgb(255, 227, 130); background-position:center; width:100%; height:400px;">
                    </div></a></li>
                </volist>
            </ul>
        </div>
        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>

    </div>
    <script type="text/javascript">
        jQuery("#slideBox").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true});
    </script>
</div>

<div class="Inside_pages clearfix">
    <!--限时团购-->
    <div class="limit_style Preferential_list">
        <div class="pic_sort clearfix" id="Area">

            <volist name="list" id="val">
            <ul class="list">
                <li class="pic_time">积分兑换</li>
                <li class="pic_img">
                    <a href="{:U('Integral/detail',array('gid'=>$val['id']))}"><img src="__PUBLIC__/Admin/Uploads/goods/thumb350/350_{$val['pic']}" style="width: 250px;height:200px;"></a>
                </li>
                <li class="pic_inner">
                    <!--<div class="btn"><a href="#" class="btn_gm"></a></div>-->
                    <div class="btn"><a href="{:U('Integral/detail',array('gid'=>$val['id']))}"><img src="__PUBLIC__/Home/images/jf.png"></a></div>
                    <div class="pic_Price left"><b style="font-size: 20px;">&nbsp;&nbsp;{$val.price|floor}积分 <img src="__PUBLIC__/Home/images/moneychange.png" style="margin: 7px 0 0 10px;"></b></div>
                    <div class="Number right">
                        <p class="Number_Price">￥{$val.marketprice}</p>
                        <p class="pic_Number">{$val.num}件</p>
                    </div>
                </li>
            </ul>
            </volist>
        </div>
    </div>
</div>

