<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jQuery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.form.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/timer/WdatePicker.js"></script>


    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
            $(".select2").uedSelect({
                width : 167
            });
            $(".select3").uedSelect({
                width : 100
            });
        });
    </script>
    <style type="text/css">
        .logobox{ width:200px; height:130px; border:1px solid #dddddd; margin-left:90px;}
        .resizebox{ width:180px; height:110px; border:1px solid #dddddd;margin:10px; }


    </style>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">
            <form id="form1" action="{:U('Admin/Sale/edictlist',array('id'=>$id))}" method="post">
                <ul class="forminfo">
                        <li><label>商品名称<b>*</b></label>
                            <input name="goodsname" type="text"  class="dfinput" disabled value="{$list[0]['goodsname']}"  style="width:300px;"/>
                        </li>
                    <input type="hidden" value="{$list[0]['id']}" name="id"/>
                        <li>
                            <div class="logobox">
                                <div class="resizebox">
                                    <img src="__PUBLIC__/Admin/Uploads/goods/{$list[0]['pic']}" alt="" height="110px" width="180px"  />
                                </div>
                            </div>
                        </li>
                        <li><label>开始时间<b>*</b></label>
                            <input name="starttime" value="{:date('Y-m-d',$list[0]['starttime'])}" type="text" onfocus="WdatePicker({isShowClear:false,readOnly:true})"  class="Wdate"  value=" "  style="height:30px;"/>
                        </li>
                        <li><label>截止时间<b>*</b></label>
                            <input class="Wdate" value="{:date('Y-m-d',$list[0]['endtime'])}" name="endtime" type="text" onfocus="WdatePicker({isShowClear:false,readOnly:true})"    value=" "   style="height:30px;" />
                        </li>
                    <li><label>&nbsp;</label><input id="btn" type="submit" class="btn" value="编辑发布"/></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $('#form1').submit(function() {
            $(this).ajaxSubmit(function(res) {
                if(res.status=="ok"){
                    layer.msg(res.msg,{icon:1,time:1000});
                    window.location.href="{:U('Sale/qianggou')}";
                }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                }
            });
            return false; //阻止表单默认提交
        });

    })
</script>
