<layout name="Public/layout"/>
<style>
    .pagination{
        float: right;
        letter-spacing: 3px;
        font-size: 12px;
        text-align: center;
    }
    .pagination a{
        border-radius: 50px;
        margin: 2px;
        width: 50px;
        height: 20px;
        line-height: 20px;
        border: 1px solid #ccc;
        display: inline-block;
        text-align: center;
        background-color:orangered ;
        padding: 5px;
        font-weight: bolder;
    }
    .pagination a:hover{
        background-color: yellowgreen;
        color: black;
        font-weight: bolder;
    }
    .current{
        border-radius: 50px;
        width: 50px;
        height: 20px;
        border: 1px solid #ccc;
        background-color: yellowgreen;
        line-height: 23px;
        display: inline-block;
        padding: 5px;
        text-align: center;}
    .bs{
        width: 60px;
        float: left;
        text-align: center;
        margin: 0 10px;
    }
    .bs a{
        display: block;
        text-align: center;
        padding: 8px;
        color: #FFFFFF;
        background: #FF6060;
        width: 50px;
        height: 20px;

    }
    .hy{
        width: 60px;
        float: left;
        text-align: center;
        margin: 0 10px;
    }
    .hy a{ display: block;
        text-align: center;
        padding: 8px;
        width: 50px;
        height: 20px;
    }

</style>
<script type="text/javascript">
    $(function(){
        var i=$('#brandstyle input:hidden').val();
         var b=$('#brandstyle #'+i).attr('id');
         $('#'+b).css('color','red');

    })
</script>
<!--产品列表样式-->
<div class="Inside_pages clearfix">
    <!--筛选样式-->
    <div id="Filter_style">
        <!--条件筛选样式-->
        <div class="Filter">
            <div class="Filter_list clearfix">
                <div class="Filter_title"><span>品牌：</span></div>
                <div class="Filter_Entire"><a href="{:U('Home/ProductList/showlist',array('bid'=>0,'maxprice'=>0,'minprice'=>0,'words'=>'0'))}">全部</a></div>
                <div class="p_f_name infonav_hidden brandslist ">
                    <input type="hidden" value="{$bid}">
                    <p>
                        <volist name="brandlist" id="val" mod="8"  key="key">
                            <a id="{$val.id}"  href="{:U('Home/ProductList/showlist',array('bid'=>$val['id'],'maxprice'=>0,'minprice'=>0))}" >{$val.bname}</a>
                            <eq name="mod" value="7"><p/></eq>
                        </volist>
                    </p>
                </div>

                <p class="infonav_more"><a href="#" class="more" onclick="infonav_more_down(0);return false;">更多<em class="pullup"></em></a></p>
            </div>
            <div class="Filter_list clearfix">
                <div class="Filter_title"><span>价格：</span></div>
                <div class="{$min==0?'bs':'hy'}"><a  href="{:U('Home/ProductList/catelist',array('minprice'=>0,'maxprice'=>0))}">全部</a></div>
                <div class="{$min==1?'bs':'hy'}"><a   href="{:U('Home/ProductList/catelist',array('minprice'=>1,'maxprice'=>50))}">1-50</a></div>
                <div class="{$min==50?'bs':'hy'}"><a   href="{:U('Home/ProductList/catelist',array('minprice'=>50,'maxprice'=>150))}">50-150</a></div>
                <div class="{$min==150?'bs':'hy'}"> <a  href="{:U('Home/ProductList/catelist',array('minprice'=>150,'maxprice'=>500))}">150-500</a></div>
                <div class="{$min==500?'bs':'hy'}"><a  href="{:U('Home/ProductList/catelist',array('minprice'=>500,'maxprice'=>1000))}">500-1000</a></div>
                <div class="{$min==1000?'bs':'hy'}"><a  href="{:U('Home/ProductList/catelist',array('minprice'=>1000,'maxprice'=>10000000))}">1000以上</a></div>
            </div>
        </div>
    </div>



    <!--样式-->
    <div  class="scrollsidebar side_green clearfix" id="scrollsidebar">
        <div class="show_btn" id="rightArrow"><span></span></div>
        <!--左侧样式-->
        <div class="page_left_style side_content"  >
            <!--浏览记录-->
            <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
            <div class=" side_list">
                <div class="Record">
                    <div class="title_name">浏览记录</div>
                    <ul>
                        <volist name="historyInfo" id="historyList" key="k">
                            <if condition="$k elt 6">
                                <if condition="$historyList['id'] gt 0">
                                    <li>
                                        <a href="{:U('Detail/detail',array('gid'=>$historyList['id']))}">
                                            <p><img src="__PUBLIC__/Admin/Uploads/goods/{$historyList['pic']}" data-bd-imgshare-binded="1"></p>
                                            <p class="p_name">{$historyList['goodsname']}</p>
                                        </a>
                                        <p><b class="p_Price"><i>￥</i>{$historyList['price']}</b></p>
                                    </li>
                                </if>
                            </if>
                        </volist>
                    </ul>
                </div>
                <!--销售排行-->
                <div class="pro_ranking">
                    <div class="title_name"><em></em>销量排行</div>
                    <div class="ranking_list">
                        <ul id="tabRank">
                            <li class="t_p on">
                                <em class="icon_ranking">1</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">2</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">3</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">4</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">5</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">6</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">7</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">8</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">9</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                            <li class="t_p">
                                <em class="icon_ranking">10</em>
                                <dt><h3><a href="#">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
                                <dd class="clearfix">
                                    <a href="#"><img src="__PUBLIC__/Home/images/products/p_29.jpg" width="90" height="90" /></a>
                                    <span class="Price">￥23.00</span>
                                </dd>
                            </li>
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("#tabRank li").hover(function(){ jQuery(this).addClass("on").siblings().removeClass("on")},function(){ });
                    jQuery("#tabRank").slide({ titCell:"dt h3",autoPlay:false,effect:"left",delayTime:300 });
                </script>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $("#scrollsidebar").fix({
                    float : 'left',
                    //minStatue : true,
                    skin : 'green',
                    durationTime : 600
                });
            });
        </script>
        <!--列表样式属性-->
        <div class="page_right_style">
            <div id="Sorted" >
                <div class="Sorted">
                    <div class="Sorted_style">
                        <a id="a0" class="{$orderIT==0?'on':''}" href="{:U('Home/ProductList/catelist',array('order'=>0))}" class="on">综合<i class="iconfont icon-fold"></i></a>
                        <a id="a1" class="{$orderIT==1?'on':''}"  href="{:U('Home/ProductList/catelist',array('order'=>1))}">销量<i class="iconfont icon-fold"></i></a>
                        <a id="a2" class="{$orderIT==2?'on':''}" href="{:U('Home/ProductList/catelist',array('order'=>2))}">价格<i class="iconfont icon-fold"></i></a>
                        <a id="a3" class="{$orderIT==3?'on':''}" href="{:U('Home/ProductList/catelist',array('order'=>3))}">新品<i class="iconfont icon-fold"></i></a>
                    </div>
                </div>
            </div>
            <!--产品列表样式-->
            <div class="p_list  clearfix">
                <ul>
                    <volist name="goodslist" id="val" key="k" empty="$empty">
                        <li class="gl-item">
                            <em class="icon_special tejia"></em>
                            <div class="Borders">
                                <div class="img"><a href="{:U('Detail/detail',array('gid'=>$val['id']))}"><img src="__PUBLIC__/Admin/Uploads/goods/{$val['pic']}" style="width:220px;height:220px"></a></div>
                                <div class="Price"><b>¥{$val.price}</b><span style="text-decoration: line-through">[¥{$val.marketprice}]</span></div>
                                <div class="name"><a href="{:U('Detail/detail',array('gid'=>$val['id']))}">{$val.goodsname}</a></div>
                                <div class="Review">已有<span style="color: #f43838">{$val['salenum']?$val['salenum']:'0'}</span>人购买</div>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="pagination">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Home/js/lrtk.js" type="text/javascript"></script>
<script type="text/javascript" charset="UTF-8">
    <!--
    //点击效果start
    function infonav_more_down(index)
    {
        var inHeight = ($("div[class='p_f_name infonav_hidden']").eq(index).find('p').length)*30;//先设置了P的高度，然后计算所有P的高度
        if(inHeight > 60){
            $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:inHeight});
            $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"><a class="more"  onclick="infonav_more_up('+index+');return false;" href="javascript:">收起<em class="pulldown"></em></a></p>');
        }else{
            return false;
        }
    }
    function infonav_more_up(index)
    {
        var infonav_height = 85;
        $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:infonav_height});
        $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"> <a class="more" onclick="infonav_more_down('+index+');return false;" href="javascript:">更多<em class="pullup"></em></a></p>');
    }

    function onclick(event) {
        info_more_down();
        return false;
    }
    //点击效果end
    //-->
</script>
<script type="text/javascript">
    $(function(){
        var i=$('.brandslist input:hidden').val();
        var b=$('.brandslist #'+i).attr('id');
        $('#'+b).css('color','red');
    })
</script>


