
<layout name="Public/layout"/>
<style>
    th{text-align:center;height:30px;line-height:30px;font-size:18px;}
    td{text-align:center}
</style>
<div style="width:1200px;margin-top:20px;">
    <include file="Public/user_left"/>
    <div style="width:960px;float: left;height:800px;margin-top:-10px;">
        <div style="height:40px;line-height:40px;font-size:20px;margin-top:15px;padding-left:30px;">
            <span style="border-bottom:2px solid red;">未读列表</span>
        </div>
        <div style="width:900px;height:500px;border:1px solid gray;">
            <table style="width:900px;">
                <tr>
                    <th>编号</th>
                    <th>发送人</th>
                    <th>内容</th>
                    <th>发送时间</th>
                    <th>操作</th>
                </tr>
                <volist name="msgInfo" id="val1" key="k1">
                <tr>
                    <td>{$k1}</td>
                    <td>{$val1['sender']}</td>
                    <td style="color:red">{$val1['message']}</td>
                    <td>{:date("Y-m-d H:i:s",$val1['addtime'])}</td>
                    <td>
                        <a href="javascript:checkDetail({$val1['ag_id']})">查看详情</a>
                        <!--<a href="{:U('Message/checkDetail',array('ag_id'=>$val1['ag_id']))}">查看详情</a>-->
                    </td>
                </tr>
                </volist>
            </table>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<script>
    function checkDetail(id){
        layer.open({
            type:2,
            title:"",
            skin:'demo-class',
            area:['740px','500px'],
            shadeClose: true,
            shade: 0.8,
            content:"{:U('Message/checkDetail')}?ag_id="+id
        })
    }
</script>