*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

/* jswbox */
#jswbox{width:1125px;height:550px;margin:0 auto;position:relative;}
#jswbox ul{position:relative;height:500px;width:1200px; margin: 0 auto;}
#jswbox li{position:absolute;width:0;height:0;z-index:0;cursor:pointer;overflow:hidden;top:152px;left:10px;background: #fff1e6;border: 1px solid #f4e1d2}
#jswbox li img{width:100%;height:100%;vertical-align:top;float:left;}
#jswbox .prev, #jswbox .next{display:none;}